//
//  Texel.xcconfig
//  Texel
//
//  Created by Phillip Gerhardt on 27.11.22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SWIFT_OBJC_BRIDGING_HEADER = Texel/Bridging-Header.h

NODE_LIBS = -lbase64 -lbase64_neon64 -lbrotli -lcares -lgtest -lgtest_main -lhistogram -licudata -licui18n -licutools -licuucx -lllhttp -lnghttp2 -lnghttp3 -lngtcp2 -lnode -lopenssl -ltorque_base -luv -luvwasi -lv8_base_without_compiler -lv8_compiler -lv8_init -lv8_initializers -lv8_libbase -lv8_libplatform -lv8_snapshot -lv8_zlib -lzlib
NODE_HEADER_PATH = ../externals/node/src ../externals/node/deps/v8/include ../externals/node/deps/uv/include
NODE_LIBRARY_PATH = ../externals/node/out/Release

FFMPEG_HEADER_PATH = ../externals/FFmpeg
FFMPEG_LIBRARY_PATH = ../externals/FFmpeg/libavformat ../externals/FFmpeg/libavutil ../externals/FFmpeg/libavcodec ../externals/FFmpeg/libswscale ../externals/FFmpeg/libswresample
FFMPEG_LIBS = -lavformat -lavutil -lavcodec -lswscale -lswresample

OTHER_LIBS = -liconv -lbz2 -framework VideoToolBox

LIBRARY_SEARCH_PATHS = $(NODE_LIBRARY_PATH) $(FFMPEG_LIBRARY_PATH)
HEADER_SEARCH_PATHS = $(NODE_HEADER_PATH) $(FFMPEG_HEADER_PATH)
OTHER_LDFLAGS = $(NODE_LIBS) $(FFMPEG_LIBS) $(OTHER_LIBS)
